/* 
    General Styles
*/
 .navbar{
// background-color: #C4C4C4;
font-family: 'Advent Pro', sans-serif;
font-size: 20px;
}
.footer{
font-family: 'Advent Pro', sans-serif;
font-size: 15px;
}

.rounded{
    border-radius: 20%;
}